<div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <dx-data-grid
            [rowAlternationEnabled]="true"
            [dataSource]="entities"
            (onRowUpdated)="emitEntityUpdate($event)">
            <dxi-column
                *ngFor="let name of columnNames"
                [dataField]="name"
                [alignment]="entityMetadata[name]?.alignment"
                [visible]="!entityMetadata[name]?.hidden"
                [format]="entityMetadata[name]?.format"
                [width]="entityMetadata[name]?.width"
                [caption]="entityMetadata[name]?.displayName"
                [dataType]="entityMetadata[name]?.dataType"
                [allowEditing]="entityMetadata[name]?.editable === true"></dxi-column>
            <dxo-group-panel [visible]="enableGroups"></dxo-group-panel>
            <dxo-editing
                mode="cell"
                [allowUpdating]="true"></dxo-editing>
        </dx-data-grid>
    </div>
</div>
