<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">NG Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" >Dashboard</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/computers" routerLinkActive="active">Computers</a>
          </li>
        </ul>
        <form class="d-flex">
          <ng-container *ngFor="let item of items">
            <ng-template [ngTemplateOutlet]="item.template"></ng-template>
          </ng-container>
        </form>
      </div>
    </div>
  </nav>