<app-toolbar (refreshDashboards)="refreshClick$.next()"></app-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <app-dashboard-panel
                title="Процессы"
                (enityUpdate)="updateProcess($event)"
                [entities]="processes"
                [entityMetadata]="processMetadata"
            ></app-dashboard-panel>
        </div>
        <div class="col-lg">
            <app-dashboard-panel
                title="Хосты"
                [entities]="hosts"
                [entityMetadata]="hostMetadata"
            ></app-dashboard-panel>
        </div>
        <div class="col-lg">
            <app-dashboard-panel
                title="Сервисы"
                [entities]="services"
                [entityMetadata]="serviceMetadata"
                [enableGroups]="true"
            ></app-dashboard-panel>
        </div>
    </div>
</div>
