<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
      <img src="assets/icons/dashboard.png" width="30" height="30" class="d-inline-block" alt="">
      NG Dashboard
    </a>
    <dx-button type="text" text="Dashboard" routerLink="/dashboard"></dx-button>
    <dx-button type="text" text="Computers" routerLink="/computers"></dx-button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-stretch" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li *ngFor="let item of items" class="nav-item">
                <ng-template [ngTemplateOutlet]="item.template"></ng-template>
              </li>
        </ul>
    </div>
</nav>
