<app-toolbar>
    <dx-button *toolbarItem type="default" text="Обновить" (click)="refreshClick$.next()"></dx-button>
    <ng-container *toolbarItem>
        <span class="navbar-text">Автообновление</span>
        <dx-switch [value]="autoUpdateChange$.value" (valueChange)="autoUpdateChange$.next(!autoUpdateChange$.value)"></dx-switch>
    </ng-container>
</app-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <app-dashboard-panel
                title="Процессы"
                (enityUpdate)="updateProcess($event)"
                [dataSource]="processes"
                [entityMetadata]="processMetadata"
            ></app-dashboard-panel>
        </div>
        <div class="col-lg">
            <app-dashboard-panel
                title="Хосты"
                [dataSource]="hosts"
                [entityMetadata]="hostMetadata"
            ></app-dashboard-panel>
        </div>
        <div class="col-lg">
            <app-dashboard-panel
                title="Сервисы"
                [dataSource]="services"
                [entityMetadata]="serviceMetadata"
                [enableGroups]="true"
            ></app-dashboard-panel>
        </div>
    </div>
</div>
